.profile-card {
  background: linear-gradient(90deg, #4facfe 0%, #00f2fe 100%);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  
  .profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }
  
  .edit-profile {
    background-color: white;
    color: #007bff;
    padding: 8px 12px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
  }
  